name: Monitor Kodeeekhgoo Positions

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 selenium webdriver-manager

      - name: Run Python script
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID_1: ${{ secrets.TELEGRAM_CHAT_ID_1 }}
          TELEGRAM_CHAT_ID_2: ${{ secrets.TELEGRAM_CHAT_ID_2 }}
        run: python main.py

      - name: Commit & Push hash update
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.email "actions@github.com"
            git config user.name "GitHub Actions"
            git add last_hash.txt
            git commit -m "Update hash"
            git push
